.left_navbar {
    width: 3rem;
    height: 100%;
    display: flex;
    margin-left: -1rem;
    position: fixed;
}

.mt-5 {
    margin-top: 3.5rem;
}

.cardyt {
    width: 25%;
    padding: 0 .5rem;
    text-decoration: none;
}

.body_content {
    width: 100%;
    padding: 0 1rem;
    margin-left: 1rem;
}

.card_img {
    width: 100%;
    height: 13vw;
    border-radius: 5px;
    cursor: pointer;
}

.cardh1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #fff;
    font-size: 16px;
    margin: 0 0 .3rem .5rem;
    font-weight: 500;
    word-spacing: 1px;
    letter-spacing: 2px;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
}

.infoc {
    margin: 1rem 0;
}

.cardp {
    color: #fff;
    font-size: 13px;
    margin: 0 .5rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    opacity: .7;
    cursor: pointer;
    text-decoration: none;
}

.cardp1 {
    color: #fff;
    font-size: 13.5px;
    margin: 0 .5rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    opacity: .5;
    cursor: pointer;
    text-decoration: none;
}

.video_box {
    display: flex;
    flex-wrap: wrap;
}


/* Themes */

.sliwep {
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: start;
    overflow: scroll;
}

.sliwep button {
    background-color: #434343;
    padding: .3rem .5rem;
    margin:  0 .5rem;
    border-radius: 10px;
    color: #fff;
    border: none;
    cursor: pointer;
}

.mix {
    color: rgb(255, 0, 0);
    font-size: medium;
}

.playlist_img {
    box-shadow: rgba(215, 196, 208, 0.4) 0px 5px, rgba(178, 156, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
}

.playlist {
    width: 100%;
    height: 45vw;
}

.sliwep button:first-child {
    margin: .5rem .3rem .5rem .5rem;
}

.sliwep button:hover {
    background-color: #7a7a7a;
}

.selected { 
    color: #fff;
    opacity: .7;
    margin: 0 .5rem .5rem .5rem;
    text-align: center;
}


.error {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

 



.idp {
    color: #fff;
    opacity: 1 !important;
}